.catalogue-nav
	.container3
		ul.catalogue-navbar
			li.catalogue-category
				a(href="#").catalogue-category-link.tablet Планшеты
			li.catalogue-category
				a(href="#").catalogue-category-link.catalogue-category-link_active.mobile_phone Мобильные телефоны
			li.catalogue-category
				a(href="#").catalogue-category-link.mp3player Mp3-плееры
			li.catalogue-category
				a(href="#").catalogue-category-link.desktop Персональные компьютеры
			li.catalogue-category
				a(href="#").catalogue-category-link.laptop Ноутбуки
			li.catalogue-category
				a(href="#").catalogue-category-link.peripherals Аксессуары
			li.catalogue-category
				a(href="#").catalogue-category-link.hhappliance Бытовая техника