.list-wrapper.detailed_list
	.view0
		.image-container
			.image_gallery
				.product-slider__main-wrapper
					img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__main-image")
				ul.product-slider__min-image-list
					li.product-slider__min-image-item.product-slider__min-image-item_active
						img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_left")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-center.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_center")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-right.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_right")
			.vendor_code Артикул 
				span.item-vendor_code 7985242
		.item_info-container
			.title Samsung Galaxy SIII
			.description Длинный-предлинный текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием
			table.spec_table
				tr.table_SIM-type.clearfix
					td.table_prop Тип SIM-карты
					td.table_value Micro-SIM
				tr.table_SIM-number.clearfix
					td.table_prop Количество SIM-карт
					td.table_value 1
				tr.table_color.clearfix
					td.table_prop Цвет
					td.table_value Черный
				tr.table_OS.clearfix
					td.table_prop ОС
					td.table_value Windows Phone
				tr.table_standard.clearfix
					td.table_prop Связь 3G
					td.table_value Есть
				tr.table_4g.clearfix
					td.table_prop 4G (LTE)
					td.table_value Нет
				tr.table_gps.clearfix
					td.table_prop GPS-модуль
					td.table_value A-GPS
			.rating
				ul.rating-scale
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star
				.rating-count 4
		.price 8 540 
			span.rouble г
		.buy_it-container
			a(href="").buy_it В корзину
			.in_store В наличии
			

	.view0
		.image-container
			.image_gallery
				.product-slider__main-wrapper
					img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__main-image")
				ul.product-slider__min-image-list
					li.product-slider__min-image-item.product-slider__min-image-item_active
						img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_left")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-center.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_center")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-right.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_right")
			.vendor_code Артикул 
				span.item-vendor_code 7985242
		.item_info-container
			.title Samsung Galaxy SIII
			.description Длинный-предлинный текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием с описанием текст с описанием
			table.spec_table
				tr.table_SIM-type.clearfix
					td.table_prop Тип SIM-карты
					td.table_value Micro-SIM
				tr.table_SIM-number.clearfix
					td.table_prop Количество SIM-карт
					td.table_value 1
				tr.table_color.clearfix
					td.table_prop Цвет
					td.table_value Черный
				tr.table_OS.clearfix
					td.table_prop ОС
					td.table_value Windows Phone
				tr.table_standard.clearfix
					td.table_prop Связь 3G
					td.table_value Есть
				tr.table_4g.clearfix
					td.table_prop 4G (LTE)
					td.table_value Нет
				tr.table_gps.clearfix
					td.table_prop GPS-модуль
					td.table_value A-GPS
			.rating
				ul.rating-scale
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star
				.rating-count 4
		.price 8 540 
			span.rouble г
		.buy_it-container
			a(href="").buy_it В корзину
			.in_store В наличии
			

	.view0
		.image-container
			.image_gallery
				.product-slider__main-wrapper
					img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__main-image")
				ul.product-slider__min-image-list
					li.product-slider__min-image-item.product-slider__min-image-item_active
						img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_left")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-center.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_center")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-right.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_right")
			.vendor_code Артикул 
				span.item-vendor_code 7985242
		.item_info-container
			.title Samsung Galaxy SIII
			.description Длинный-предлинный текст с описаниtdем текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием
			table.spec_table
				tr.table_SIM-type.clearfix
					td.table_prop Тип SIM-карты
					td.table_value Micro-SIM
				tr.table_SIM-number.clearfix
					td.table_prop Количество SIM-карт
					td.table_value 1
				tr.table_color.clearfix
					td.table_prop Цвет
					td.table_value Черный
				tr.table_OS.clearfix
					td.table_prop ОС
					td.table_value Windows Phone
				tr.table_standard.clearfix
					td.table_prop Связь 3G
					td.table_value Есть
				tr.table_4g.clearfix
					td.table_prop 4G (LTE)
					td.table_value Нет
				tr.table_gps.clearfix
					td.table_prop GPS-модуль
					td.table_value A-GPS
			.rating
				ul.rating-scale
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star
				.rating-count 4
		.price 8 540 
			span.rouble г
		.buy_it-container
			a(href="").buy_it В корзину
			.in_store В наличии
			

	.view0
		.image-container
			.image_gallery
				.product-slider__main-wrapper
					img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__main-image")
				ul.product-slider__min-image-list
					li.product-slider__min-image-item.product-slider__min-image-item_active
						img(src="img/products/samsungS3-left.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_left")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-center.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_center")
					li.product-slider__min-image-item
						img(src="img/products/samsungS3-right.jpg" alt="Samsung GT-I9301I GALAXY S 3" class="product-slider__min-image product-slider__min-image_right")
			.vendor_code Артикул 
				span.item-vendor_code 7985242
		.item_info-container
			.title Samsung Galaxy SIII
			.description Длинный-предлинный текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием
			table.spec_table
				tr.table_SIM-type.clearfix
					td.table_prop Тип SIM-карты
					td.table_value Micro-SIM
				tr.table_SIM-number.clearfix
					td.table_prop Количество SIM-карт
					td.table_value 1
				tr.table_color.clearfix
					td.table_prop Цвет
					td.table_value Черный
				tr.table_OS.clearfix
					td.table_prop ОС
					td.table_value Windows Phone
				tr.table_standard.clearfix
					td.table_prop Связь 3G
					td.table_value Есть
				tr.table_4g.clearfix
					td.table_prop 4G (LTE)
					td.table_value Нет
				tr.table_gps.clearfix
					td.table_prop GPS-модуль
					td.table_value A-GPS
			.rating
				ul.rating-scale
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star.rating-star_active
					li.rating-star
				.rating-count 4
		.price 8 540 
			span.rouble г
		.buy_it-container
			a(href="").buy_it В корзину
			.in_store В наличии
			

	//- .view1
	//- 	.image_gallery Галерея
	//- 	.title Samsung Galaxy SIII
	//- 	.spec_table Таблица спецификаций
	//- 	.rating ***** Рейтинг
	//- 	.price 8540 руб.
	//- 	.buy_it-container.clearfix
	//- 		.in_store В наличии
	//- 		.buy_it В корзину
	//- .view2.clearfix
	//- 	.left-container
	//- 		.image_gallery Галерея
	//- 		.vendor_code Артикул 
	//- 			span.item-vendor_code 7985242
	//- 	.middle-container
	//- 		.title Samsung Galaxy SIII
	//- 		.description Длинный-предлинный текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием текст с описанием
	//- 		.rating ***** Рейтинг
	//- 	.price 8540 руб.	
	//- 	.but_it-container
	//- 		.buy_it В корзину
	//- 		.in_store В наличии
	//- .view3
	//- 	.image_gallery
	//- 	.title
	//- 	.vendor_code
	//- 	.spec-table
	//- 	.description
	//- 	.rating
	//- 	.price
	//- 	.in_store
	//- 	.buy_it