footer.footer
	.container.clearfix
		a(href="").footer-logo
			img(class="footer-logo-image" style="width: 238px; height: 36px" alt="Cooltech" src="img/footer-logo.png")
		.footer-right-container
			.social-list-container
				ul.social-list
					li.social-item
						a(href="").social-link.social-link_fb Facebook
					li.social-item
						a(href="").social-link.social-link_vk VK
					li.social-item
						a(href="").social-link.social-link_tw Twitter
			ul.footer-links
				li.footer-link-item
					a(href="").footer-link Планшеты
				li.footer-link-item
					a(href="").footer-link Мобильные телефоны
				li.footer-link-item
					a(href="").footer-link MP3 плееры
				br
				li.footer-link-item
					a(href="").footer-link Персональные компьютеры
				li.footer-link-item
					a(href="").footer-link Ноутбуки
				li.footer-link-item
					a(href="").footer-link Аксессуары
				li.footer-link-item
					a(href="").footer-link Бытовая техника
	.copyright All rights reserved. 2015. no copy alowed
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-ui/jquery-ui.js')
script(src='/bower/jquery.columnizer/src/jquery.columnizer.js')
script(src='/bower/jquery-form-styler/jquery.formstyler.min.js')
// endbower
script(src='/js/main.js')