.header2
	.container2.clearfix
		.container2-left
			a(href="" class="logo") Cooltech
				img(class="logo-image" style="width: 238px; height: 36px" alt="Cooltech" src="img/header-logo.png")
			form(action="/" method="post" class="search" class="search")
				input(name="search-text" placeholder="Что будем искать?" class="search__text" type="text")
				button.search__submit Найти
		.container2-right
			ul.navigation
				li.navigation-item.map
					a(href='#').navigation-link.map-link Карта проезда
				li.navigation-item.order_history
					a(href='#').navigation-link.order_hystory-link История заказов
				li.navigation-item.my_cart
					a(href='#').navigation-link.my_cart-link Корзина